body, h1, h2, h3, p, ul, ol, li, a {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #777777, #0055A4);
}

header {
  background-color: #0055A4;
  color: white;
  text-align: center;
  padding: 2rem 0;
}

header navbar a {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  font-weight: bold;
}

/* Style the navigation links as buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #888;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #777;
}

header navbar {
  text-align: center;
  background-color: #003D7D;
  padding: 10px 0;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.circle-picture {
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.rounded-circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.small-picture {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.small-picture.left {
  left: 0;
}

.small-picture.right {
  right: 0;
}

.square-picture-frame {
  max-width: 35%;
  margin: 0 auto; /* Center the square images horizontally */
  overflow: hidden;
  border: 5px solid #0055A4;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.square-picture-frame img {
  width: 100%;
  height: auto;
}

.card {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #0055A4;
  color: white;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
